doctype html
html
  head
    title Do you know your friends?
    meta(http-equiv='content-type', content='text/html; charset=UTF-8')
    meta(name="viewport", content="width=device-width, maximum-scale=1.0")

    link(rel='stylesheet', href='/css/style.css') 
    script(type='text/javascript', src='http://maps.googleapis.com/maps/api/js?sensor=false')
    script(type='text/javascript', src='/js/build/production.js')
  body
    div(class="home-inner h-valign h-tcenter")
      div(class="h-iblock h-malign")
        h1 Do you know your friends?
        p(class="button")
          a(href="/auth/login")
            span(class="icon i-xs i-fb-white")
            span(class="h-malign")
            |Connect
        p(class="disclaimer")
          |DYNYF doesn't collect any personal information from our users. All of the data is only used for visualization purposes and none of it will be saved or sent to any third party for any reason.